/* Copyright 2023 Redstone Network */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

img.thing {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  border: none;
}

img.info {
  width: 16px;
  height: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 1px 1px #000);
}

div.info {
  z-index: 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  backdrop-filter: blur(4px);
  padding: 6px;
  width: 720px;
  height: 90px;
}

a:link {
  color: rgb(6, 222, 150)
};

a:hover {
  color: rgb(167, 255, 226)
}

a:visited {
  color: rgb(6, 222, 150)
}
