/* Copyright 2023 Redstone Network */

iframe.a.d.xy.lo {
  border: none; outline: none;
  width: 100%;
  height: 100%;
}

iframe.a.d.xy.lo.bnr {
  aspect-ratio: 364/45;
  max-width: 720px; max-height: 90px;
}

iframe.a.d.xy.lo.sqr {
  aspect-ratio: 1/1;
  max-width: 250px; max-height: 250px;
}