/* Copyright 2023 Redstone Network */

@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+One&display=swap');

body {
  font-family: "Rubik", "Roboto", sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
}

h1 {
  color: rgb(6, 222, 150);
}

h1,h2,h3,h4 {
  font-family: "Rubik One", sans-serif;
}

div.content {
  position: relative;
  width: 100%; 
  max-width: 560px;
  left: 50%;
  transform: translateX(-50%);
}

div.banner {
  width: 100%;
  background-color: rgb(6, 222, 150);
  color: black;
  padding: 4px;
  box-sizing: border-box;
}

div.content h1 {
  text-align: center;
}

a:link {
  color: rgb(6, 222, 150)
}

a:visited {
  color: rgb(6, 222, 150)
}

a:hover {
  color: rgb(167, 255, 226)
}